<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @project.name %>
</h1>

<table hidden class="table">
  <tr>
    <td>Task Name</td>
    <td>Description</td>
    <td>Status</td>
    <td>Delete</td>
  </tr>
</table>

<script>
function handleData(data) {
  if ($("table tr").length == 1) {
    data.forEach(makeRow);
  }
  $("button").html("Hide Tasks");
  $("table").show();
}

function makeRow(task) {
  $("table").find('tbody')
    .append($('<tr>')
      .append($('<td>')
        .append(task.name)
      ).append($('<td>')
        .append(task.description)
      ).append($('<td>')
        .append(task.status)
      ).append($('<td>')
        .append('button')
      )
    );
  console.log(task);
}

$(function() {
  $( "button" ).click(function( event ) {
    if ($("table").is(":visible")) {
      $("button").html("Show Tasks");
      $("table").hide();
    } else {
      var url = '<%= project_tasks_url(@project, :format=>:json) %>';
      $.getJSON(url).done(handleData);
    }
  });
});
</script>

<button>Show tasks</button>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
