<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @project.name %>
</h1>

<table class="table">
  <tr>
    <td>Task Name</td>
    <td>Description</td>
    <td>Status</td>
    <td>Delete</td>
  </tr>

  <% @project.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td>
        <%= form_for task, url: task_path(@project, task), method: :delete, remote: true do |f| %>
          <%= f.submit "Delete" %>
        <% end %>
      </td>
  <% end %>
</table>

<script>

function getData(url) {
    return $.ajax({
        url : url,
        type: 'GET'
    });
}

function handleData(data) {
    $("table").toggle();
}

$(function() {
  $( "button" ).click(function( event ) {
    var url = '<%= project_tasks_url(@project) %>';
    getData(url).done(handleData);
  });
});
</script>

<button>Show tasks</button>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
