<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @project.name %>
</h1>

<table hidden class="table">
  <tr>
    <td>Task Name</td>
    <td>Description</td>
    <td>Status</td>
    <td>Delete</td>
  </tr>
</table>

<script>
function handleData(data) {
  if ($("table tr").length == 1) {
    data.forEach(makeRow);
  }
  $("#btn_tasks").html("Hide Tasks");
  $("table").show();
}

function makeRow(task) {
  var btn = document.createElement('button');
  btn.innerHTML = 'Delete';

  var myRow = $('<tr>')
    .append($('<td>')
      .append(task.name)
    ).append($('<td>')
      .append(task.description)
    ).append($('<td>')
      .append(task.status)
    ).append($('<td>')
      .append(btn)
    );

  btn.addEventListener('click',function(){
    $.ajax({
      method:'DELETE',
      url: task.url,
      statusCode: {
        200: function() {
          myRow.fadeOut();
        }
      }
    });
  });

  $("table").find('tbody').append(myRow);
}

$(function() {
  $( "#btn_tasks" ).click(function( event ) {
    if ($("table").is(":visible")) {
      $("#btn_tasks").html("Show Tasks");
      $("table").hide();
    } else {
      var url = '<%= project_tasks_url(@project, :format=>:json) %>';
      $.getJSON(url).done(handleData);
    }
  });
});
</script>

<button id="btn_tasks">Show tasks</button>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
